@model ScheduleAPI.ViewModels.EventViewModel

<!DOCTYPE html>
@foreach (ScheduleAPI.Models.Event xEvent in Model.Events)
{
<p>@xEvent.EventId - @xEvent.EventType - @xEvent.EventTemplateId - @xEvent.</p>
}
