@model ScheduleAPI.ViewModels.EventViewModel

<!DOCTYPE html>
@foreach (ScheduleAPI.Models.Event xEvent in Model.Events)
{
    <p>@xEvent.Id - @xEvent.EventType - @xEvent.EventTemplateId - @xEvent.EventTemplate.EventTemplateName</p>
}
